{% extends 'layouts/main.html' %}
{% block title %}{{ artist.artist.name }} | Artist{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1 class="monospace">
			{{ artist.artist.name }}
		</h1>
		<p class="subtitle">
			ID: {{ artist.artist.id }}
		</p>
		<div class="genres">
			{% for genre in artist.artist.genres %}
			<span class="genre">{{ genre }}</span>
			{% endfor %}
		</div>
		<p>
			<i class="fas fa-globe-americas"></i> {{ artist.artist.city }}, {{ artist.artist.state }}
		</p>
		<p>
			<i class="fas fa-phone-alt"></i> {% if artist.artist.phone %}{{ artist.artist.phone }}{% else %}No Phone{%
			endif %}
		</p>
		<p>
			<i class="fas fa-link"></i> {% if artist.artist.website %}<a href="{{ artist.artist.website }}"
				target="_blank">{{
				artist.artist.website }}</a>{% else %}No Website{% endif %}
		</p>
		<p>
			<i class="fab fa-facebook-f"></i> {% if artist.artist.facebook_link %}<a
				href="{{ artist.artist.facebook_link }}" target="_blank">{{ artist.artist.facebook_link }}</a>{% else
			%}No
			Facebook Link{% endif %}
		</p>
		{% if artist.artist.seeking_venue %}
		<div class="seeking">
			<p class="lead">Currently seeking performance venues</p>
			<div class="description">
				<i class="fas fa-quote-left"></i> {{ artist.artist.seeking_description }} <i
					class="fas fa-quote-right"></i>
			</div>
		</div>
		{% else %}
		<p class="not-seeking">
			<i class="fas fa-moon"></i> Not currently seeking performance venues
		</p>
		{% endif %}
	</div>
	<div class="col-sm-6">
		<img src="{{ artist.artist.image_link }}" alt="Venue Image" />
	</div>
</div>
<section>
	<h2 class="monospace">{{ artist.upcoming_shows_count }} Upcoming {% if artist.upcoming_shows_count == 1 %}Show{%
		else %}Shows{% endif %}</h2>
	<div class="row">
		{%for show in artist.upcoming_shows %}
		<div class="col-sm-4">
			<div class="tile tile-show">

				<img src="{{ show.Venue.image_link }}" alt="Show Venue Image" />
				<h5><a href="/venues/{{ show.Venue.venue_id }}">{{ show.Venue.name }}</a></h5>
				<h6>{{show.Shows.start_time.strftime("%Y-%m-%d %H:%M:%S")|datetime('full')}}</h6>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
<section>
	<h2 class="monospace">{{ artist.past_shows_count }} Past {% if artist.past_shows_count == 1 %}Show{% else %}Shows{%
		endif %}</h2>
	<div class="row">
		{%for show in artist.past_shows %}
		<div class="col-sm-4">
			<div class="tile tile-show">
				<img src="{{ show.Venue.image_link }}" alt="Show Venue Image" />
				<h5><a href="/venues/{{ show.Venue.id }}">{{ show.Venue.name }}</a></h5>
				<h6>{{show.Shows.start_time.strftime("%Y-%m-%d %H:%M:%S")|datetime('full')}}</h6>
			</div>
		</div>
		{% endfor %}
	</div>
</section>

<a href="/artists/{{ artist.artist.id }}/edit"><button class="btn btn-primary btn-lg">Edit</button></a>

{% endblock %}